«  #bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  }


  body {
  background-color:#000;

  }
»

/* Sanja */
.cbutton--effect-sanja::after {
	background: rgba(111,148,182,0.1);
}

.cbutton--effect-sanja.cbutton--click::after {
	-webkit-animation: anim-effect-sanja 1s ease-out forwards;
	animation: anim-effect-sanja 1s ease-out forwards;
}

@-webkit-keyframes anim-effect-sanja {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	25% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-effect-sanja {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	25% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

/* Novak */
.cbutton--effect-novak::after {
	background: rgba(111,148,182,0.25);
}

.cbutton--effect-novak.cbutton--click::after {
	-webkit-animation: anim-effect-novak 0.5s forwards;
	animation: anim-effect-novak 0.5s forwards;
}

@-webkit-keyframes anim-effect-novak {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.1, 0.1, 1);
		transform: scale3d(0.1, 0.1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(8, 8, 1);
		transform: scale3d(8, 8, 1);
	}
}

@keyframes anim-effect-novak {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.1, 0.1, 1);
		transform: scale3d(0.1, 0.1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(8, 8, 1);
		transform: scale3d(8, 8, 1);
	}
}

/* Ilinka */
.cbutton--effect-ilinka::after {
	background: rgba(111,148,182,0.25);
}

.cbutton--effect-ilinka.cbutton--click::after {
	-webkit-animation: anim-effect-ilinka 0.5s ease-out forwards;
	animation: anim-effect-ilinka 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-ilinka {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes anim-effect-ilinka {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Marin */
.cbutton--effect-marin::after {
	box-shadow: inset 0 0 0 3px rgba(111,148,182,0.05);
}

.cbutton--effect-marin.cbutton--click::after {
	-webkit-animation: anim-effect-marin 0.5s ease-out forwards;
	animation: anim-effect-marin 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-marin {
	0% {
		opacity: 1;
	}
	100% {
		box-shadow: inset 0 0 0 3px rgba(111,148,182,0.8);
		opacity: 0;
		-webkit-transform: scale3d(0.75, 0.75, 1);
		transform: scale3d(0.75, 0.75, 1);
	}
}

@keyframes anim-effect-marin {
	0% {
		opacity: 1;
	}
	100% {
		box-shadow: inset 0 0 0 3px rgba(111,148,182,0.8);
		opacity: 0;
		-webkit-transform: scale3d(0.75, 0.75, 1);
		transform: scale3d(0.75, 0.75, 1);
	}
}

/* Nikola */
.cbutton--effect-nikola::after {
	background: rgba(111,148,182,0.1);
}

.cbutton--effect-nikola.cbutton--click::after {
	-webkit-animation: anim-effect-nikola 0.5s forwards;
	animation: anim-effect-nikola 0.5s forwards;
}

@-webkit-keyframes anim-effect-nikola {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.2, 0.2, 1);
		transform: scale3d(0.2, 0.2, 1);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
}

@keyframes anim-effect-nikola {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.2, 0.2, 1);
		transform: scale3d(0.2, 0.2, 1);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
}
